# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea

# 编译
public/*.js
public/runtime
public/report.html
public/assets/*
public/views/*
public/chunks/*
public/.rsbuild
public/.rsdoctor
**/target/

# apps
public/apps
@*/*/types

# ai
.github
.agents
.claude
